// Custom styles by yourself.
// You should always modify the style here, not in the source code.
// Otherwise, when the theme is updated, the code you modified will be overwritten.


.highlight,
.highlight figcaption,
.highlight .line::before { 
	background-color: #282c34;
}

/** Github表格样式 */
.table-container {
	line-height: 28px;
}
.table-container table th {
	padding: 6px 13px;
}
.table-container table td {
	padding: 6px 13px;
}
.table-container table tr:nth-child(2n) {
	background-color: #f6f8fa;
}
